<div class="d-flex justify-content-center my-3">
  <div class="list-title mt-3">
    <p class="text-center "><strong><%= @list.title %></strong></p>
  </div>

</div>

<%= render 'shared/languages-header', list: @list %>

<%= render 'shared/index-words' %>
