  <ul class="nav nav-tabs">

  <% unless word.meaning&.nou.nil? %>
    <li class="nav-item">
      <%= link_to "nou", word_change_state_to_nou_path(word), remote: true, method: :post, class: "nav-link  #{'active' if user_word.state == "nou"}", data: { word_id: "#{word.id}" } %>
    </li>
  <% end %>

  <% unless word.meaning&.adj.nil? %>
    <li class="nav-item">
      <%= link_to "adj", word_change_state_to_adj_path(word), remote: true, method: :post, class: "nav-link  #{'active' if user_word.state == "adj"}", data: { word_id: "#{word.id}" } %>
    </li>
   <% end %>

  <% unless word.meaning&.vrb.nil? %>
    <li class="nav-item">
      <%= link_to "vrb", word_change_state_to_vrb_path(word), remote: true, method: :post, class: "nav-link  #{'active' if user_word.state == "vrb"}", data: { word_id: "#{word.id}" } %>
    </li>
  <% end %>

  <% unless word.meaning&.adv.nil? %>
    <li class="nav-item">
      <%= link_to "adv", word_change_state_to_adv_path(word), remote: true, method: :post, class: "nav-link  #{'active' if user_word.state == "adv"}", data: { word_id: "#{word.id}" } %>
    </li>
  <% end %>

</ul>
