<% @list&.words&.each_with_index do |word, index| %>

  <div class="word-card-container">

  <div class="word-card" data-word-id="<%= word.id %>">
    <p id="word-entry"> <%= @list.switch ? word.entry : word.translation %></p>

  <%= render 'shared/new-line', word: word, list: @list, index: index %>
  </div>

   <div class="display-content">
    <i id="test" class="fas fa-chevron-down chevron-icon chevron-selector" ></i>
  </div>

 <%= render 'shared/tabs', word: word, index: index %>
  

</div>

<% end %>
