<div class="d-flex justify-content-between px-5 my-1 align-items-center">
  <%= list.switch ? "Français" : "Anglais" %>
  <%= link_to list_order_path(list), method: :put do %>
    <i class="fas fa-exchange-alt"></i>
  <% end %>
  <%= list.switch ? "Anglais" : "Français" %>
</div>
