<div class="navbar-user fixed-bottom">
  <div>
    <i id= "home-icon" class="fas fa-home"></i>
  </div>

<!-- faire une div par icon, avec un id pour chaque icon si nécessaire et éventuellement faire une class pour chaque div contenant les icons, qqch comme:

<div class="to be defined">
  icon
</div>
<div class="to be defined">
  icon
</div>

etc.


 -->


</div>

