<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class= "logo-title">
    <%= link_to root_path, class: "navbar-brand" do
     %>
     <i class="fas fa-globe" class="logo-icon"></i>
      <% end %>

    <h3 class="navbar-brand-title"> <%= link_to "Vocation", root_path, {:style=>'color:white; text-decoration: none', :class => "css_class"} %></h3>
  </div>

  <div class= "signin-menu">
    <i class="fas fa-user-circle"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
  </div>
</div>
