<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class= "logo-title">
    <%= link_to words_path, class: "navbar-brand" do
     %>
     <i class="fas fa-globe" class="logo-icon"></i>
      <% end %>

    <h3 class="navbar-brand-title"> <%= link_to "Vocation", words_path, {:style=>'color:white; text-decoration: none', :class => "css_class"} %></h3>
  </div>

  <div class= "signin-menu nav-item dropdown">
    <div id= "navbarDropdown", data-toggle= "dropdown">
    <i class="fas fa-user-circle "></i>
    </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% if !current_user %>
        <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
        <% else %>
         <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
         <% end %>
      </div>
  </div>
</div>