<div class="flashcard-grid" style="width: 30% padding-bottom: 30%">
  <% @flashcards.each do |flashcard|%>

      <span class="flashcard-element">

        <%= link_to "#{flashcard.title}", list_flashcard_path(flashcard) %>
      </span>
  <% end %>
</div>

<!--   <img src="https://static.thenounproject.com/png/20461-200.png">
 -->
