<h1>Hello</h1>
<div class="flashcard-grid">
  <% @flashcards.each do |flashcard|%>
      <span class="flashcard-element">
        <%= link_to "#{flashcard.title}", list_flashcard_path(flashcard) %>
      </span>
  <% end %>
</div>
