

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dlodtvkez/image/upload/v1566908522/bannerhp2.jpg');">
  <div class="container text-center">
    <h1>Learn a new language!</h1>
    <p>Vocation brings you an efficient method to learn vocabulary</p>
    <div style='width:100%' class='text-center'>
      <button type="button" class="btn btn-primary text-center">Sign Up</button>

    </div>
  </div>
</div>




