<div class="word-card-container">
  <div id="accordion">
    <div class="word-card">
      <p class="word-entry"> Mot connuuu</p>
      <i class="fas fa-eye show-word"></i>
      <p class="word-entry"> Mot traduit</p>
    </div>
      <div class="diaplay-more-content">
        <i class="fas fa-arrow-circle-down display-more-content" data-toggle="collapse" data-target="#collapseOne"></i>
      </div>
    <div id="collapseOne" class="collapse show word-card" data-parent="#accordion">
      word details
    </div>
  </div>

</div>



