<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dlodtvkez/image/upload/v1566908522/bannerhp2.jpg');">
  <div class="container text-center">
    <%= cl_image_tag 'v-logo', width: 130, height: 130 %>
    <div class="value-proposition">
      <h1>Improve your English!</h1>
      <p>Vocation brings you an efficient method to learn vocabulary</p>
      <% if !current_user %>
      <div style='width:100%' class='text-center div-signup'>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary text-center", id: "signup-btn" %>
      <% else %>
      <%= link_to "Let's start", words_path, class: "btn btn-primary", id:"letsgo" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
