<div class="word-card-container">

  <div class="word-card">
    <p class="word-entry"> Mot connuuu</p>
    <i class="fas fa-eye" id="eye-icon"></i>
    <p class="word-entry"> Mot traduit</p>
  </div>

  <div id="accordion">
      <div class="display-more-content">
        <a href="#" class="fas fa-chevron-down display-content" data-toggle="collapse" data-target="#collapseOne" ></a>
      </div>
    <div id="collapseOne" class="collapse show displayed-content" data-parent="#accordion">
      <p class="text-justify">Mot traduit (nature) : définition du mot traduit dans la langue de ce mot, avec d'autres détails si nécessaire.</p>
    </div>
  </div>
</div>



