<!-- https://codepen.io/jlalovi/details/bIyAr -->
<div class="container chart-result">
  <!-- DONUT CHART BLOCK (LEFT-CONTAINER) -->
  <div class="donut-chart-block block">
                    <h2 class="titular">WORDS BY TYPE</h2>
                    <div class="donut-chart">
 <!-- PORCIONES GRAFICO CIRCULAR
      ELIMINADO #donut-chart
      MODIFICADO CSS de .donut-chart -->
      <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
     <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
     <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
     <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
 <!-- FIN AÑADIDO GRÄFICO -->
                            <p class="center-date">SEPT<br><span class="scnd-font-color">2019</span></p>
                    </div>
                    <ul class="os-percentages horizontal-list">
                        <li>
                            <p class="ios os scnd-font-color">vrb</p>
                            <p class="os-percentage">21<sup>%</sup></p>
                        </li>
                        <li>
                            <p class="mac os scnd-font-color">nou</p>
                            <p class="os-percentage">39<sup>%</sup></p>
                        </li>
                        <li>
                            <p class="linux os scnd-font-color">adv</p>
                            <p class="os-percentage">9<sup>%</sup></p>
                        </li>
                        <li>
                            <p class="win os scnd-font-color">adj</p>
                            <p class="os-percentage">31<sup>%</sup></p>
                        </li>
                    </ul>
                </div>
 <!-- LINE CHART BLOCK (LEFT-CONTAINER) -->
                <div class="line-chart-block block" style="height: 330px">
                  <div id="lior" class="d-flex align-items-center justify-content-center"><h2>PROGRESSION</h2></div>
     <div class="line-chart">
       <div class='grafico'>
       <ul class='eje-y'>
         <li data-ejeY='30'></li>
         <li data-ejeY='20'></li>
         <li data-ejeY='10'></li>
         <li data-ejeY='0'></li>
       </ul>
       <ul class='eje-x'>
         <li>Jul</li>
         <li>Aug</li>
         <li>Sept</li>
       </ul>
         <span data-valor='25'>
           <span data-valor='8'>
             <span data-valor='13'>
               <span data-valor='5'>
                 <span data-valor='23'>
                 <span data-valor='12'>
                     <span data-valor='15'>
                     </span></span></span></span></span></span></span>
       </div>

                  </div>
                    <ul class="time-lenght horizontal-list">
                        <li><a class="time-lenght-btn" href="#14">Week</a></li>
                        <li><a class="time-lenght-btn" style="background-color:#e64c65" href="#15">Month</a></li>
                        <li><a class="time-lenght-btn" href="#16">Year</a></li>
                    </ul>
                </div>



  <div class="bar-chart-block block" style="margin-bottom: 35%">
    <h2 class='titular'>WORDS LEARNED <span></span></h2>
    <div class='grafico bar-chart'>

       <ul class='eje-y'>
         <li data-ejeY='60'></li>
         <li data-ejeY='45'></li>
         <li data-ejeY='30'></li>
         <li data-ejeY='15'></li>
         <li data-ejeY='0'></li>
       </ul>
       <ul class='eje-x' style="margin-top: 5px;">
         <li data-ejeX='37'><i>Monday</i></li>
         <li data-ejeX='56'><i>Tuesday</i></li>
         <li data-ejeX='25'><i>Wednes</i></li>
         <li data-ejeX='18'><i>Thursday</i></li>
         <li data-ejeX='45'><i>Friday</i></li>
         <li data-ejeX='50'><i>Saturday</i></li>
         <li data-ejeX='33'><i>Sunday</i></li>
       </ul>
                        </div>
                    <ul class="time-lenght horizontal-list" style="margin-top: 10px;">
                        <li><a class="time-lenght-btn"style="background-color:#e64c65" href="#14">Day</a></li>
                        <li><a class="time-lenght-btn" href="#15">Week</a></li>
                        <li><a class="time-lenght-btn" href="#16">Month</a></li>
                    </ul>
                </div>
    </div>


  </div>
            </div>

