<div class="cards container">
   <%= link_to study_quizzes_path, class: "study-card-brand" do
     %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlodtvkez/image/upload/v1567082873/quizz.jpg)">
      Quizzes
    </div>
    <% end %>

  <%= link_to study_flashcards_path, class: "study-card" do
     %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlodtvkez/image/upload/v1567082883/flashcard.jpg)">
    Learn with flashcards
    </div>
    <% end %>
</div>




