<div class="study-container">
    <div class="study-content">
   <%= link_to "Quizzes", study_quizzes_path %>

    </div>

    <div class="study-content">
  <%= link_to "Flashcards", study_flashcards_path %>

    </div>
</div>




