<div class="border-bottom">
  <div class="container-languages">
    <div class="d-flex justify-content-between">
      <h6 class="text-center">Français</h6 class="text-center">
      <i class="fas fa-exchange-alt"></i>
      <h6 class="text-center">Anglais</h6 class="text-center">
    </div>
  </div>
  <%= form_tag words_path, method: :get do %>
    <%= text_field_tag :entry %>
  <% end %>
</div>

<!-- ------------------------------------------------------------------------------------------------- -->
