.btn-ghost {
  color: white;
  background-color: black;
  border: 1px solid black;
  width: 100%;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.signup-btn {
  background-color: $brand;
  width: 40%;
  border-radius: 50px;
}
