.flashcard-display {
  display: flex;
  flex-direction: column;
}

.top-part {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 24vh;
}

.general-progress {
  margin: 0px 5%;
  p {
    margin: 0px;
    color: black;
    text-align: center;
    font-size: 14px;
  }
}

.show-progress {
  height: 24px;
  background-color: white;
  border-radius: 20px;
  p {
    margin: 0px;
    color: black;
    text-align: center;
    font-size: 14px;
  }
}

.flashcard-container {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 28vh;
  margin: 0 5%;
  padding-bottom: 60px;
}

.flashcard {
  border: solid 1px lightgrey;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  box-shadow: 4px 4px 4px lightgrey;
  border-radius: 8px;
  height: 250px;
}

.flashcard-content {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
  height: 70%;
  border-radius: 8px 8px 0px 0px;
  border-bottom: solid 1px lightgrey;
}

#flashcard-question {
  font-size: 36px;
  color: $word-color;
}

#flashcard-answer {
  font-size: 36px;
  color: $word-color;
  display: flex;
  flex-direction: column;
  height: 76%;
  width: 100%;
}

.meaning {
  font-size: 20px;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  text-align: justify;
  padding: 8px 16px 8px;
}

#flashcard-button {
  display: flex;
  font-weight: 900;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 24%;
  border-radius: 0px 0px 8px 8px;
  color: $word-color;
}

#flashcard-congrats {
  font-size: 36px;
  color: $word-color;
}

#flashcard-end {
  display: flex;
  font-weight: 900;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30%;
  border-radius: 0px 0px 8px 8px;
  color: $word-color;
    a {
    color: $word-color;
    text-decoration: none;
    }
}

#good-answer {
  border-radius: 4px;
  // border: 1px solid;
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $good;
  a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
}

#wrong-answer {
  border-radius: 4px;
  // border: 1px solid;
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $wrong;
  a {
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-decoration: none;
  }
}

#see-meaning {
  a {
    color: $word-color;
    text-decoration: none;
  }

}
