// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

@import "button";
@import "searchbar";
@import "list-card";
@import "translator";
@import "navbar-user";
@import "navbar-home";
@import "banner";
@import "top-banner";
@import "list-title";
@import "study-card";
@import "add_to_list";
@import "carousel";
@import "quizz-answer";
@import "progress-bar";
@import "super-title";
@import "quizzes-index";
@import "flashcard-index"

abbr[title="required"] {
  display: none;
}

.dropdown-item {
    padding: 0.25rem 0.5rem;
    border-bottom: solid 1px lightgrey;
    font-size: 14px;
    color: rgb(50,50,50);
}

.dropdown-icon {
  color: $word-color;
  font-size: 12px;
  margin-left: 8px;
}

.carousel-item {
  transition: transform 0.4s ease-out;
}
