.switch-container {
  display: flex;
  justify-content: space-around;
  margin: 0 5%;
}

.switch-language {
  text-align: center;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  margin: 14px;
}

.fa-exchange-alt {
  color: $brand;
}

#list-of-the-week {
  text-align: center;
  font-size: 17px;
  margin: 9px;
  color: $word-color;
}
