.navbar-user {
  background: white;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px #aeaeae;

  a {
    color: #414141;
    text-decoration: none;
    // i {margin-bottom: 4px;
    // };
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    font-size: 24px;
  }
}

.general-size {
  font-size: 14px;
}

.navbar-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.icon-brand-color {
  i {
     color: #0078B6;
  }
}

.image-brand-color {
  filter: invert(27%) sepia(54%) saturate(4185%) hue-rotate(181deg) brightness(93%) contrast(101%); 
}