.fa-arrow-circle-right {
  color: $brand;
  font-size: 42px;
  margin-bottom: 25px;
  position: absolute;
  left: 0;
  transition: left 0.4s ease-in-out;
  visibility: hidden;
}

.display-arrow {
  visibility: visible;
  left: 44% !important;
}

.buttons-container {
  height: 75px;
}

.all-answers {
  position: absolute;
  width: 100%;
  bottom: 10%;
}

.answer-container {
  display: flex;
  align-items: center;
  margin-top: 2px;
  height: 75px;
}

.answer-container-definition {
  display: flex;
  align-items: center;
  height: 116px;
}

.got-it {
  background-color: $good !important;
  color: white;
  height: 65px !important;
  box-shadow: -3px 3px 4px #6ebf5a;
}

.oups {
  height: 65px !important;
  box-shadow: -3px 3px 4px rgba(148, 5, 5, 1);
  background-color: $wrong !important;
  color: white;
}


.show-valid-answer {
  background-color: rgba(171,230,204, 0.6) !important;
  color: $good !important;
  border: 1px solid rgba(1, 208, 65, 0.5);
}

.cross-wrong-answer {
  right: 10px;
  font-size: 23px;
  position: absolute;
  left: 20px;
  top: 30%;
  color:white;
}

.possible-answer {
  height: 60px;
  background-color: #ededed;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 5%;
  border-radius: 15px;
  padding: 0px 16px;
  position: relative;
  transition: background-color 0.3s ease;
  transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  word-break: break-word;
  text-align: justify;
}
.important-definition {
  height: 100px !important;
  background-color: #ededed;
  width: 90% !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin: 0% 5% !important;
  border-radius: 15px !important;
  padding: 0px 16px !important;
  position: relative;
  transition: background-color 0.3s ease !important;
  transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
  word-break: break-word !important;
  text-align: justify !important;
}

.possible-answer-definition {
  height: 100px;
  padding: 16px;
  font-size: 16px;
  background-color: #ededed;
  width: 90%;
  display: flex;
  margin: 4% 5%;
  border-radius: 15px;
  position: relative;
  transition: background-color 0.4s ease;
}

.question {
  margin: 10% 5%;
  text-align: center;
  color: $word-color;
}

.question4 {
  color: $word-color;
  padding-left: 12px;

}
.hint {
  margin-top: 20%;
  text-align: center;
  h1{color: $brand !important; font-size: 40px;}
}

.hint-question1-2 {
  margin-top: 40%;
  text-align: center;
}

.hint-definition {
  text-align: center;
}

.hint-question5 {

  h1 {font-size: 1.5rem !important; color: $brand !important}
  margin: 0 5%;
}

#hint-explanation {
  text-decoration: underline;
}

#quizz-answer {
  margin: 40px 20%;
  height: 50px;
  width: 60%;
  border-radius: 15px;
  :focus {
    outline-offset: 0px !important;
  }
}

