.all-answers {
  position: absolute;
  width: 100%;
  bottom: 10%;
}

.possible-answer {
  height: 50px;
  background-color: #ededed;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 5%;
  border-radius: 15px;
  position: relative;
}
.possible-answer-definition {
  height: 100px;
  padding: 16px;
  font-size: 14px;
  background-color: #ededed;
  width: 90%;
  display: flex;
  margin: 4% 5%;
  border-radius: 15px;
  position: relative;
}

.question {
  margin: 10% 5%;
  text-align: center;
}

.hint {
  margin-top: 40%;
  text-align: center;
}

.hint-definition {
  text-align: center;
}
