.card-index-quizzes {
  height: 100px;
  background-color: #ededed;
  width: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  h6 {
  font-size: 1rem;
  position: absolute;
  bottom: -35px;
  }
}

.quizz-box {
  position: relative;
  margin: 0 5%;
}