.study-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85vh;
  align-items: center;
}

.study-content {
  border-radius: 150px;
  height: 150px;
  width: 150px;
  border: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-break: break-word;

  a {

  }
}
