#app-name {
 font-family: 'Quicksand', sans-serif;
 color: white;
 text-align: center !important;
}

#app-name:hover {
  text-decoration: none !important;
}

.top-banner {
  background-color: $brand;
  padding: 10px 0px;
  height: 50px;
  text-align: center;
  transition: height .5s ease !important;
  h5 {margin:0;}
}

.hide-me {
  overflow: hidden;
  height: 0;
}
