.container-languages {
  margin: 2vh 5vh 3px 5vh;
}

.translator-entry-input {
  width: 100%;
  height: 10vh;
}

.fa-arrow-circle-right {
  color: black;
  font-size: 20px;
}

.activ-languages h6 {
  color: $brand;
  font-size: 16px;
}

#submit-translation {
  transition: height .3s ease;
  height: 0;
  overflow: hidden;
  display: none !important;
}

.display-me {
  height: 50px !important;
  padding: 10px 0 !important;
  box-shadow: 0px 20px 50px rgba(0,0,0, 0.4 ) !important;
}

.fa-times {
  position: absolute;
  font-size: 16px;
  color: $word-color;
  top: 10px;
  right: 10px;
}

.word-entry-area {
  position: relative;
  input {
    height:70px;
    border-radius: 0;
  }
}

#language-infos {
  height: 84px;
  transition: height .4s ease !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 7px;
}

.hide-language {
  height: 0px !important;
  overflow: hidden;
}

#translation {
  font-size: 16px;
}

.word-translation {
  margin-bottom: 5px;
  margin-top: 10px;
}

.fa-star {
  color: $word-color;
  font-size: 16px;
  margin-bottom: 1px;
}


.form-control {
  background-clip: none;
  border: none;
}
