.all-words {
  background-color: black;
  margin-top: 8px;
}

.linear-filter {
  opacity: 0.8 !important;
}
.word-card-container {
  border-bottom: solid 1px lightgrey;
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.word-card {
  height: 32px;
  background: white;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6px 0px;
}

#word-entry {
  border-radius: 4px;
  text-align: center;
  color: $word-color;
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 0 0 45%;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 4px 0px 8px;
  margin-bottom: 4px;
}

.hide-show {
  display: flex;
  flex-direction: row;
  padding: 4px 2px 0px;
  align-items: center;
  flex: 0 0 50%;
  margin-bottom: 4px;
}

#word-result {
  text-align: center;
  display: flex;
  justify-content: start;
  flex: 0 0 75%;
  align-items: center;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 16px;
  color: $word-color;
  font-weight: lighter;
  margin: 0px;
  padding-left: 4px;
}

#eye-icon {
  height: 24px;
  display: flex;
  color: $word-color;
  justify-content: space-around;
  align-items: center;
  padding-right: 8px;
}

.chevron-icon{
  color: $brand;
}

#rotate-me {
  -webkit-transition: -webkit-transform 0.8s;
  -webkit-transform: rotate(180deg);
}

#unrotate-me {
  -webkit-transition: -webkit-transform 0.8s;
  -webkit-transform: rotate(0deg);
}

.display-content {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    height: 36px;
    position: absolute;
    top: 8px;
    right: 8px;
    justify-content: flex-end;
}


.displayed-content {
  background: white;
  padding: 4px 16px 16px;
  word-break: break-word;
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;

    & #definition {
      margin: 0px !important;
    }

    & i {
      font-size: 8px;
      color: grey;
    }

    & #example {
      font-size: 10px;
      color: grey;
      padding: 0px 0px 0px 16px;
      margin-bottom: 8px;
    }
    & #synonyms {
      color: grey;
      padding: 0px 0px 0px 16px;
    }
}
