.nav-tabs .nav-link {
  font-size: 14px;
  color: $word-color;
  padding: 5px 10px;
}
.nav-tabs .nav-link.active {
  color: $brand;
  background-color: #f4f4f447;
  font-size: 14px;
  }

.carousel-indicators {
  margin-bottom: 0;
  li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $word-color;
  }
}


.carousel-word-card {
  height: auto;
  padding: 0;
  transition: max-height .5s ease;
  max-height: 0;
  overflow: hidden;
}

.carousel-word-card.details-show {
  max-height: 180px !important;
}
.all-words {
  margin-top: 50px;
  padding: 0 5%;
}

.linear-filter {
  opacity: 0.8 !important;
}
.word-card-container {
  border-bottom: solid 1px lightgrey;
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
}

.word-card {
  height: 32px;
  background: white;
  border-radius: 4px;
  display: flex;
  margin: 6px 0px;
}

#word-entry {
  border-radius: 4px;
  text-align: center;
  color: rgb(50, 50, 50);
  display: flex;
  justify-content: start;
  flex: 0 0 45%;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 4px 0px 24px;
  margin-bottom: 4px;
}

.hide-show {
  display: flex;
  flex-direction: row;
  padding: 4px 2px 0px 0px;
  align-items: center;
  flex: 0 0 47%;
  margin-bottom: 4px;
}

#word-result {
  text-align: center;
  display: flex;
  justify-content: start;
  flex: 0 0 85%;
  align-items: center;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 16px;
  color: rgb(100, 100, 100);
  font-weight: lighter;
  margin: 0px;
  padding-left: 20px;
}

.fa-eye {
  color: rgb(100, 100, 100);
  padding: 4px;
}

.fa-eye-slash {
  color: rgb(100, 100, 100);
  padding: 4px;
}

.chevron-icon{
  color: rgb(120, 120, 120);
  font-size: 15px;
}

#rotate-me {
  -webkit-transition: -webkit-transform 0.8s;
  -webkit-transform: rotate(180deg);
}

#unrotate-me {
  -webkit-transition: -webkit-transform 0.8s;
  -webkit-transform: rotate(0deg);
}

.display-content {
    display: flex;
    align-items: center;
    height: 30px;
    position: absolute;
    top: 9px;
    right: 8px;
    margin-top: 5px;
}


.displayed-content {
  background: white;
  padding: 4px 16px 26px;
  word-break: break-word;
  font-size: 16px;
  display: flex;
  flex-direction: column;

    & #definition {
      margin: 0px !important;
      font-size: 14px;
      font-weight: bolder;
    }

    & i {
      font-size: 8px;
      color: grey;
    }

    & #example {
      font-size: 10px;
      color: grey;
      padding: 0px 0px 0px 16px;
      margin-bottom: 8px;
      font-size: 14px;
    }
    & #synonyms {
      color: black;
      padding: 0px 0px 0px 16px;
      font-size: 14px;
    }
}

#bubble {
  margin-bottom: 5px;
}
