.word-card-container {
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  background: white;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.word-card {
  height: 64px;
  background: white;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.word-entry {
  height: 50px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 36%;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 12px;
  padding: 4px;
  margin: 0px;
}

#eye-icon {
  height: 50px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 15%;
}

.display-content {
display: flex;
justify-content: space-around;
align-items: center;
padding-bottom: 2px;
}


.displayed-content {
  height: 100px;
  background: white;
  border-radius: 4px;
  padding: 16px;
  word-break: break-word;
  font-size: 12px;
}
