.word-card-container {
  height: 150px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  background: white;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.word-card {
  height: 100px;
  background: white;
  margin-top: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.word-entry {
  height: 50px;
  width: 30%;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 30%;
  word-wrap: break-word;
}

#eye-icon {
  height: 50px;
  width: 15%;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 0px 0px 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 15%;
}

.display-content {
display: flex;
justify-content: space-around;
align-items: center;
}

.displayed-content {
  height: 100px;
  background: white;
  border-radius: 4px;
  padding: 16px;
  word-break: break-word;
}
