<div class="d-flex justify-content-center align-items-center" style="margin-top:30px;">
  <div class="hint-definition"><h3><%= @entry %></h3></div>
  <div class="question4"><h3>means:</h3></div>
</div>

<div class="all-answers">
  <% [@quizz_good_answer, @quizz_wrong_answers].flatten.shuffle.each do |answer| %>
    <% if answer == @quizz_good_answer %>
      <div class="answer-container">
        <div class="possible-answer good-answer" data-answer="1"><h4><%= answer %></h4></div>
      </div>
    <% else %>
      <div class="answer-container">
        <div class="possible-answer wrong-answer" data-answer="0"><h4><%= answer %></h4></div>
      </div>
    <% end %>
  <% end %>
</div>
