<div class="result-container">
  <div class="iam-rond d-flex align-items-center justify-content-center">
    <h3 style="font-size: 39px; margin: 0;">100%</h3>
    <h5 class="test-completed">TEST COMPLETED</h5>
  </div>
  <%= cl_image_tag 'achieve', height: 150, width: 105 %>
</div>
  <div class="d-flex align-items-center justify-content-center mark-scored">
    <h3 style="margin-right: 5px;">Marks Scored:</h3>
    <h1><%= @percentage %>%</h1>
  </div>
